# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


media/
static/
/
scripts.html
scripts/build-assets.js
scripts/build-pug.js
scripts/build-scripts.js
scripts/build-scss.js
scripts/clean.js
scripts/render-assets.js
scripts/render-pug.js
scripts/render-scripts.js
scripts/render-scss.js
scripts/sb-watch.js
scripts/start.js
scripts/start-debug.js
scripts_files/178251332
scripts_files/app_assets_modules_github_behaviors_ajax-error_ts-app_assets_modules_github_behaviors_include-467754-5f8784803937.js.다운로드
scripts_files/app_assets_modules_github_behaviors_commenting_edit_ts-app_assets_modules_github_behaviors_ht-83c235-4accd4baf37d.js.다운로드
scripts_files/app_assets_modules_github_behaviors_task-list_ts-app_assets_modules_github_onfocus_ts-app_ass-421cec-f0e1d31bff9a.js.다운로드
scripts_files/app_assets_modules_github_blob-anchor_ts-app_assets_modules_github_filter-sort_ts-app_assets_-6deafe-fc95155e233a.js.다운로드
scripts_files/app_assets_modules_github_onfocus_ts-ui_packages_trusted-types-policies_policy_ts-ui_packages-6fe316-9d50d6f10c3d.js.다운로드
scripts_files/app_assets_modules_github_ref-selector_ts-00df584d9e79.js.다운로드
scripts_files/app_assets_modules_github_repositories_get-repo-element_ts-78999cbaea69.js.다운로드
scripts_files/app_assets_modules_github_sticky-scroll-into-view_ts-112600808cf9.js.다운로드
scripts_files/app_assets_modules_react-code-view_components_blob-edit_BlobEditor_tsx-ui_packages_web-commit-fb78e1.5dab79890ecfec70a7cd.module.css
scripts_files/behaviors-717439266b6b.js.다운로드
scripts_files/code-7e14c25064d5.css
scripts_files/code-menu-a8d08997ac4f.js.다운로드
scripts_files/codespaces-005e47f4f276.js.다운로드
scripts_files/dark-e8b003732d38.css
scripts_files/element-registry-78241b9c53b4.js.다운로드
scripts_files/environment-924e60bca7d2.js.다운로드
scripts_files/github-e4eed26e112b.css
scripts_files/github-elements-9a7f1de9cb80.js.다운로드
scripts_files/global-4466ab57785b.css
scripts_files/global-create-menu-f5f67baa8031.js.다운로드
scripts_files/global-user-nav-drawer.830d6c10c9fea7fc134e.module.css
scripts_files/global-user-nav-drawer-a262b436b18b.js.다운로드
scripts_files/keyboard-shortcuts-dialog-252ea17b8692.js.다운로드
scripts_files/light-fec97922b76c.css
scripts_files/notifications-global-3ddac678adaf.js.다운로드
scripts_files/notifications-subscriptions-menu.1bcff9205c241e99cff2.module.css
scripts_files/notifications-subscriptions-menu-075bd700538b.js.다운로드
scripts_files/primer-3f55af1462e6.css
scripts_files/primer-primitives-ebd37ecbf27d.css
scripts_files/primer-react-css.8570b2718b0a9c0c8387.module.css
scripts_files/react-code-view.5cd91984ea3db66bbc7b.module.css
scripts_files/react-code-view-5067546cdd5a.js.다운로드
scripts_files/react-lib-7b7b5264f6c1.js.다운로드
scripts_files/repositories-238986a8c80a.js.다운로드
scripts_files/repository-0f7cf89e325a.css
scripts_files/ui_packages_code-view-shared_hooks_use-canonical-object_ts-ui_packages_code-view-shared_hooks-9a3d65-d20e0dfc3fa8.js.다운로드
scripts_files/ui_packages_commit-attribution_index_ts-ui_packages_commit-checks-status_index_ts-ui_packages-f45efb-62ec013f60c5.js.다운로드
scripts_files/ui_packages_copy-to-clipboard_index_ts-ui_packages_react-core_use-feature-flag_ts-ui_packages-9fa6b6-1dc905b5ad61.js.다운로드
scripts_files/ui_packages_paths_index_ts-7d03986a8135.js.다운로드
scripts_files/ui_packages_react-core_create-browser-history_ts-ui_packages_safe-storage_safe-storage_ts-ui_-682c2c-40bb20608465.js.다운로드
scripts_files/ui_packages_react-core_register-app_ts-6857ea187add.js.다운로드
scripts_files/ui_packages_react-core_register-partial_ts-ui_packages_global-create-menu_GlobalCreateMenu_tsx-544eee7a4dad.js.다운로드
scripts_files/ui_packages_ref-selector_RefSelector_tsx-7b0796d1324c.js.다운로드
scripts_files/ui_packages_repos-file-tree-view_repos-file-tree-view_ts-ui_packages_feature-request_FeatureR-ec5225-ec38d5ad4ab9.js.다운로드
scripts_files/ui_packages_updatable-content_updatable-content_ts-a2009221d154.js.다운로드
scripts_files/vendors-node_modules_braintree_browser-detection_dist_browser-detection_js-node_modules_stack-68835d-a18220f1db8d.js.다운로드
scripts_files/vendors-node_modules_color-convert_index_js-0e07cc183eed.js.다운로드
scripts_files/vendors-node_modules_delegated-events_dist_index_js-node_modules_github_catalyst_lib_index_js-06ff531-bf7e5a3732fd.js.다운로드
scripts_files/vendors-node_modules_dompurify_dist_purify_js-89a69c248502.js.다운로드
scripts_files/vendors-node_modules_github_arianotify-polyfill_ariaNotify-polyfill_js-node_modules_github_mi-247092-627b030d3acc.js.다운로드
scripts_files/vendors-node_modules_github_auto-complete-element_dist_index_js-node_modules_github_details-d-ed9a97-841122a1e9d4.js.다운로드
scripts_files/vendors-node_modules_github_catalyst_lib_index_js-node_modules_github_clipboard-copy-element_-782ca5-54763cd55b96.js.다운로드
scripts_files/vendors-node_modules_github_catalyst_lib_index_js-node_modules_github_hydro-analytics-client_-7901e7-dc88587c14ed.js.다운로드
scripts_files/vendors-node_modules_github_file-attachment-element_dist_index_js-node_modules_github_filter--0879fe-bcfcfd976be7.js.다운로드
scripts_files/vendors-node_modules_github_file-attachment-element_dist_index_js-node_modules_primer_view-co-10eecb-8056ef83b81e.js.다운로드
scripts_files/vendors-node_modules_github_filter-input-element_dist_index_js-node_modules_github_remote-inp-2e8678-34feeec9c894.js.다운로드
scripts_files/vendors-node_modules_github_mini-throttle_dist_index_js-node_modules_delegated-events_dist_in-3efda3-701acb69193f.js.다운로드
scripts_files/vendors-node_modules_github_mini-throttle_dist_index_js-node_modules_github_catalyst_lib_inde-dbbea9-e73b311a14f1.js.다운로드
scripts_files/vendors-node_modules_github_mini-throttle_dist_index_js-node_modules_morphdom_dist_morphdom-e-7c534c-f8a5485c982a.js.다운로드
scripts_files/vendors-node_modules_github_mini-throttle_dist_index_js-node_modules_primer_octicons-react_di-b40d97-2d816f3aa913.js.다운로드
scripts_files/vendors-node_modules_github_quote-selection_dist_index_js-node_modules_github_textarea-autosi-9e0349-ab4976fc78a6.js.다운로드
scripts_files/vendors-node_modules_github_relative-time-element_dist_index_js-7b95699705bc.js.다운로드
scripts_files/vendors-node_modules_github_remote-form_dist_index_js-node_modules_delegated-events_dist_inde-893f9f-6cf3320416b8.js.다운로드
scripts_files/vendors-node_modules_github_remote-form_dist_index_js-node_modules_delegated-events_dist_inde-e53a3f-62113d33abd1.js.다운로드
scripts_files/vendors-node_modules_github_selector-observer_dist_index_esm_js-f690fd9ae3d5.js.다운로드
scripts_files/vendors-node_modules_github_session-resume_dist_index_js-node_modules_primer_behaviors_dist_e-ac74c6-5e03381c44b5.js.다운로드
scripts_files/vendors-node_modules_github_text-expander-element_dist_index_js-cd48220d74d5.js.다운로드
scripts_files/vendors-node_modules_github_turbo_dist_turbo_es2017-esm_js-858e043fcf76.js.다운로드
scripts_files/vendors-node_modules_lit-html_lit-html_js-ce7225a304c5.js.다운로드
scripts_files/vendors-node_modules_oddbird_popover-polyfill_dist_popover_js-56729c905fe2.js.다운로드
scripts_files/vendors-node_modules_primer_behaviors_dist_esm_anchored-position_js-node_modules_fzy_js_index-192fd2-a07608c791cf.js.다운로드
scripts_files/vendors-node_modules_primer_behaviors_dist_esm_anchored-position_js-node_modules_primer_react-4d507b-85f1dac4ce7d.js.다운로드
scripts_files/vendors-node_modules_primer_behaviors_dist_esm_dimensions_js-node_modules_github_jtml_lib_index_js-53b423ede32a.js.다운로드
scripts_files/vendors-node_modules_primer_behaviors_dist_esm_focus-zone_js-c9086a4fb62b.js.다운로드
scripts_files/vendors-node_modules_primer_behaviors_dist_esm_scroll-into-view_js-node_modules_primer_react_-36c959-37cfafe4655b.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_ActionList_index_js-fd5a7039f225.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_ActionMenu_ActionMenu_js-node_modules_primer_react_-5b2420-50d72766db7f.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_AvatarStack_AvatarStack_js-node_modules_primer_reac-107a96-b2f6381baf68.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_Box_Box_js-55a9038b54f0.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_Button_Button_js-b0edbfb6a9e5.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_ConfirmationDialog_ConfirmationDialog_js-099e8bfead83.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_Dialog_Dialog_js-node_modules_primer_react_lib-esm_-bd7638-42ec9a5bc7b9.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_Dialog_js-node_modules_primer_react_lib-esm_Feature-cdf735-4b63b6308961.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_FeatureFlags_FeatureFlags_js-node_modules_primer_re-7faff4-1dd74dc0d752.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_FilteredActionList_FilteredActionList_js-5a52bf212e2b.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_FormControl_FormControl_js-1f51ab2bdcca.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_Heading_Heading_js-node_modules_primer_react_lib-es-cdb604-830a604eb974.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_PageLayout_PageLayout_js-9928dec2ff12.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_Text_Text_js-node_modules_primer_react_lib-esm_Text-7845da-9371f5bac483.js.다운로드
scripts_files/vendors-node_modules_primer_react_lib-esm_TooltipV2_Tooltip_js-4d5019830e3c.js.다운로드
scripts_files/vendors-node_modules_primer_react_node_modules_primer_octicons-react_dist_index_esm_mjs-a5155473fc69.js.다운로드
scripts_files/vendors-node_modules_react-router-dom_dist_index_js-c5568c29d405.js.다운로드
scripts_files/vendors-node_modules_scroll-anchoring_dist_scroll-anchoring_esm_js-node_modules_github_hotkey-1a1d91-fa9f29a8514b.js.다운로드
scripts_files/vendors-node_modules_virtualized-list_es_index_js-node_modules_github_template-parts_lib_index_js-96453a51f920.js.다운로드
scripts_files/wp-runtime-3d52d18e80ca.js.다운로드
templates/gotostudy.html
