{% extends 'voca_base.html' %}

{% block base_content %}
<div class="ma">
    <h1>주제 선택</h1>
</div>
    <div class="box-container">
        <div class="ma">
            {% for main_topic, sub_topics in topic_data.items %}
                <h2 style="background-color: #1abc9c"> &nbsp {{ main_topic }}</h2>
                {% for sub_topic in sub_topics %}
                    <!-- 학습하기 -->
                    <div style="text-indent : 20px">
                        <h5>{{ sub_topic }}</h5>
                        <form method="GET" action="{% url 'words:learn_words' %}">
                            <label for="difficulty">난이도 선택:</label>
                            <select name="difficulty">
                                <option value="">모든 난이도</option>
                                {% for key, value in difficulty_choices %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="topic_id" value="{{ sub_topic.id }}">
                            <button type="submit">학습하기</button>
                        </form>
                        
                        <!-- 문제 풀기 -->
                        <form method="GET" action="{% url 'words:quiz' %}">
                            <label for="difficulty">난이도 선택:</label>
                            <select name="difficulty">
                                <option value="">모든 난이도</option> 
                                {% for key, value in difficulty_choices %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="topic_id" value="{{ sub_topic.id }}">
                            <button type="submit">문제풀기</button>
                        </form>
                        <br>
                        <br>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div>
            <h1>난이도별 학습</h1>
            <form method="GET" action="{% url 'words:learn_words' %}">
                <label for="difficulty">난이도 선택:</label>
                <select name="difficulty">
                    <option value="">모든 난이도</option>
                    {% for key, value in difficulty_choices %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <button type="submit">학습하기</button>
            </form>

            <form method="GET" action="{% url 'words:quiz' %}">
                <label for="difficulty">난이도 선택:</label>
                <select name="difficulty">
                    <option value="">모든 난이도</option>
                    {% for key, value in difficulty_choices %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <button type="submit">문제풀기</button>
            </form>    
        </div>
    </div>
{% endblock %}
