<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>English Learner</title>
    </head>
    <body>
        <h1>Learn Words</h1>

        {% for word in selected_words %}
            <h2>{{ word.word }}</h2>
            <p>Meaning: {{ word.definition }}</p>
            <h3>Example Sentences:</h3>
            {% for sentence in word.sentences.all %}
                {{ sentence.sentence }} - {{ sentence.definition +}}
            {% endfor %}
        {% endfor %}
    <form method="POST" action="{% url 'words:quiz' %}">
        {% csrf_token %}
        <input type="hidden" name="selected_words" value="{{ words | join:',' }}">
        <button type="submit">문제 풀기</button>
    </form>
    </body>
</html>