<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>English Learner</title>
    </head>
    <body>
        <h2>퀴즈 풀기</h2>
        <form method="POST" action="{% url 'words:quiz_results' %}">
            {% csrf_token %}
            {% for word in words %}
                <label>{{ word.definition }}</label>
                <input type="text" name="answers_{{ word.id }}" placeholder="type your answer">
            {% endfor %}
        <button type="submit">결과 확인</button>
        </form>
    </body>
</html>