{% extends 'voca_base.html' %}

{% block base_content %}
<div class="ma">
    <h2>퀴즈 풀기</h2>
</div>
<div class="box-container">
    <div class="ma">
        <form method="POST" action="{% url 'words:quiz_results' %}">
            {% csrf_token %}
            {% for word in words %}
                <label>{{ word.definition|linebreaksbr }}</label>
                <br>
                <input type="text" name="answers_{{ word.id }}" placeholder="type your answer">
                <br>
                <br>
                <br>
            {% endfor %}
    </div>
    <div>
        <button type="submit">결과 확인</button>
    </div>
    </form> 
</div>
{% endblock %}