{% extends 'base_01.html' %}

{% block head %}
<style>
    #text {
        width: 400px;
        height: 700px;
        float: left;
    }
    #section {
        width: 1100px;
        float: left;
      }
    
</style>
{% endblock %}

{% block base_content %}
    <h2>Quiz</h2>
        <form method="POST" action="{% url 'words:quiz_results' %}">
            {% csrf_token %}
            <div id="section">
                {% for word in words %}
                    <label>{{ word.definition|linebreaksbr }}</label>
                    <br>
                    <input type="text" name="answers_{{ word.id }}" placeholder="type your answer">
                    <br>
                    <br>
                    <br>
                {% endfor %}
            </div>
            <div id="text">
                <button type="submit">Submit</button>
            </div>
        </form> 
{% endblock %}