{% extends 'voca_base.html' %}

{% block base_content %}
<div class="box-container">
    <div class="ma">
        <h2>{{ request.user.username }}'s Vocabulary List</h2>
<!-- 필터 옵션 -->
        <div class="box-container" style="background-color: gray;">
            <div>
            <form method="GET" action="{% url 'words:filtered_vocab' %}">
                <label for="topic_id" style="font-size: 20px">Topic:</label>
                <select name="topic_id">
                    <option value="">Random</option>
                    {% for topic in topics %}
                        <option value="{{ topic.main_topic }}">{{ topic.main_topic }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="difficulty" style="font-size: 20px;">Level:</label>
                <select name="difficulty">
                    <option value="">Random</option>
                    {% for key, value in difficulty_choices %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                <button type="submit">Apply Filter</button>
            </div>
            </form>
        </div>
        <br>
            <!-- 단어 목록 -->
            {% for vocab in vocabulary %}
                <p class="voca">Word : {{ vocab.word.word }}</p>
                <p class="voca01">Meaning&nbsp&nbsp&nbsp&nbsp: {{ vocab.word.definition }}</p>
                
                <!-- 단어 삭제 기능 -->
                <form method="POST" action="{% url 'words:delete_vocab' vocab.id %}">
                    {% csrf_token %}
                </form>
                
                    <!-- 삭제 버튼 (모달 트리거) -->
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_modal_{{ vocab.id }}">Delete</button>
                    <br>
                    <br>

                    <!-- 삭제 모달 -->
                    <div id="delete_modal_{{ vocab.id }}" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Warning</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this Word? Click continue to delete the word. If not, click cancel.</p>
                                </div>
                                <div class="modal-footer">
                                    <form id="deleteForm_{{ vocab.id }}" method="POST" action="{% url 'words:delete_vocab' vocab.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Continue</button>
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
    </div>
            {% include 'add_memo.html' %}
</div>
{% endblock %}