{% extends 'base.html' %}

{% block head %}
    {% include 'login_base.html' %}
{% endblock %}

{% block base_content %}
    <div id="signup" style=" margin: 0 auto; margin-top: 30px;">
        <form method="POST" enctype="multipart/form-data">
            <h1 style="text-align: center; color: #1abc9c;">Register</h1>
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <div style="text-align: center;">
                <button type="submit" class="btn btn-signup">Register</button>
                <a href="{% url 'users:login' %}">Sign in</a>
            </div>
        </form>
    </div>
{% endblock %}


id="contactForm